.container{
	display: inline-flex;
	align-items: baseline;
}

.box{
background-color: white;
border: 0.25em solid #cccccc;
line-height: 7em;
height: 7em;
width: 7em;
padding: 4em;
margin: 1em;
z-index: 2;
}

a{
	text-decoration: none;
	color: inherit;
}
/*I was testing the option of using a checkbox to hold the click event
the animation was not fluid. The transform scale() property acted on the checkbox and
while the puff box faded*/

 input[type="checkbox"]{
 	position: absolute;
 	  top: -9999px;
   left: -9999px;
 }

 input[type="checkbox"]:checked + label.puff{
 	animation: puff 3s forwards;
 }

/****Animations****/
@keyframes puff{
	from{height: 7em; width: 7em;}
	to{transform: scale(2); opacity: 0; z-index: 1;}
	
}

@keyframes expand{
	from{height: 7em; width: 7em; }
	to{ transform: scale(2); z-index: 1;}
}

@keyframes shrink{
	from{height: 7em; width: 7em; }
	to{ transform: scale(0.01);}
}

@keyframes bounce{ 
    0%   {transform: scale(1,1) translateY(0); }
    10%  {transform: scale(1.1,0.9) translateY(0); }
    30%  {transform: scale(0.9,1.1) translateY(-80px); }
    50%  {transform: scale(1.1,0.8) translateY(0); }
    57%  {transform: scale(1,1);}
    64%  {transform: scale(1,1);}
    100% {transform: scale(1,1);}
}

@keyframes rotate{
	from{rotate: 0;}
	to{transform: rotate(360deg)}
}

@keyframes flip{
	from{}
	to{transform: rotateY(360deg);}
}



/****Classes****/
/*.puff:checked{
animation: puff 3s forwards;
}*/

.puff:hover{
animation: puff 3s forwards;
}
.bounce:hover{	
animation: bounce 3s;
}

.shrink:hover{
animation: shrink 3s forwards;
}

.expand:hover{
animation: expand 3s forwards;
}

.rotate:hover{
animation: rotate 3s forwards;
}

.flip:hover{
animation: flip 3s forwards;
}